@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Mate SC", serif;
}

/* html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background-image: url('/public/images/Parch1.png');
  background-repeat: repeat;              
  background-size: 800px auto;             
  background-position: center top;
  background-attachment: fixed;            
} */


.bgParch{
    background-image: url('/public/images/Parch1.png');
    min-height: 100vh;
    background-position: center top;
}

.borderImg {
    border: 35px solid black;
    border-image: url('/public/images/B3.jpg') 13% repeat;
}

.mask{
    font-family: 'Lobster', sans-serif;
}

.lineWrap{
    white-space: pre-wrap;
}

.verse{
    font-family: 'Noto Serif Devanagari', serif;
}


.hero{
    font-family: 'Amita', serif;
}

@media only screen and (max-width: 48rem) {
  .borderImg{
    border: 20px solid black;
    border-image: url('/public/images/B3.jpg') 13% repeat;
  }
}